# One of these providers must be configured.
DEEPSEEK_API_KEY=
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_MODEL=deepseek-chat


# General
APP_DOWNLOAD_DIR=./downloads
MAX_TEXT_CHARS=10000
REQUEST_TIMEOUT_SECONDS=60
RETRY_MAX_ATTEMPTS=2
RETRY_BACKOFF_SECONDS=1.0
